.wrapper {
  background-color:#fffded;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  font-family: 'Josefin Sans';
  color: #b9fbc0;
}

.card {
  padding: 1rem;
  margin-top: 1rem;
}

ul li {
  font-size: 20px;
  list-style-type: none;
  padding: 5px;
}